# Build artifacts
*.o
*.exe
*.out
*.class
*.hi
*.beam
*.ali
*.obj
*.ppm
*.jar
_build/
target/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs and temp
*.log
tmp/
temp/

# Nim
nimcache/