# Build artifacts
*.o
*.exe
*.out
*.class
*.hi
*.beam
*.ali
*.obj
*.ppm
*.jar
_build/
target/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs and temp
*.log
tmp/
temp/

# Nim
nimcache/

# Task-specific
3_io/task_2_perl/input.txt
3_io/task_2_perl/wordfreq.log
3_io/task_3_scala/history.txt

# Scala CLI
.bsp/
.scala-build/